*,
*::after,
*::before,
ul {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "TT Norms", sans-serif; }

html {
  font-size: 62.5%; }

.heading--primary {
  font-size: 3rem;
  font-weight: bold;
  color: #343434;
  margin-bottom: 1.7rem; }

.heading--secondary {
  font-size: 2rem;
  color: #f68223;
  font-weight: bold;
  margin-bottom: 2rem; }

.heading--tertiary {
  font-size: 1.6rem;
  color: #f68223;
  margin-bottom: 1.7rem; }

.paragraph {
  font-size: 1.2rem;
  color: #343434;
  font-weight: 500;
  margin-bottom: 2.2rem; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 14rem;
  margin: 4rem 0 14rem 0; }
  @media only screen and (max-width: 62.5em) {
    .header {
      padding: 0 5rem; } }
  @media only screen and (max-width: 50em) {
    .header {
      display: none; } }
  .header .nav {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .nav__list {
      list-style: none;
      display: flex; }
    .header .nav__item:not(:last-child) {
      margin-right: 8.4rem; }
    .header .nav__link {
      text-decoration: none;
      font-size: 2rem;
      color: #343434; }
      .header .nav__link span {
        display: block;
        width: 2.8rem;
        height: 0.2rem;
        margin: 0 auto;
        margin-top: 0.6rem;
        transition: background-color 0.2s; }
      .header .nav__link .span--active {
        background-color: #f68223; }
    .header .nav__link:hover span {
      background-color: #f68223; }
  .header .profile {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .profile__img {
      width: 3.7rem;
      height: 3.7rem;
      display: block; }
    .header .profile__name {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 1.2rem; }

.main {
  background-image: linear-gradient(180deg, white 0%, white 12%, rgba(246, 130, 35, 0.16) 12%);
  padding: 0 14rem 14rem;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(2, auto);
  grid-gap: 6.3rem; }
  @media only screen and (max-width: 62.5em) {
    .main {
      justify-content: center; } }
  @media only screen and (max-width: 50em) {
    .main {
      display: flex;
      flex-direction: column; } }
  @media only screen and (max-width: 40.625em) {
    .main {
      padding: 0 5rem 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .main {
      padding: 0 0 5rem 0; } }

.amount {
  font-size: 4rem;
  font-weight: bold;
  color: #f68223; }

.dash {
  background-color: #ffffff;
  padding: 6.5rem 4.5rem;
  box-shadow: 1px 1px 1rem #30303029;
  border-radius: 0.5rem;
  display: inline-block;
  text-align: center;
  grid-row: 1/-1;
  overflow: hidden; }
  @media only screen and (max-width: 31.25em) {
    .dash {
      width: calc(100vw - 5rem);
      margin: 0 auto; } }
  @media only screen and (max-width: 25em) {
    .dash {
      padding: 6.5rem 2.5rem; } }
  .dash__figure {
    width: 19.7rem;
    height: 19.7rem;
    margin: 0 auto;
    margin-bottom: 3rem; }
  .dash__img {
    width: 100%;
    height: 100%; }
  .dash__caption {
    margin-bottom: 7.2rem; }

.btn {
  box-shadow: 1px 1px 3px #00000029;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
  display: block;
  border-radius: 0.5rem;
  margin: 0 auto 2.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  width: 24.9rem;
  height: 6.9rem;
  transition: transform 0.2s; }
  @media only screen and (max-width: 25em) {
    .btn {
      width: 100%; } }
  .btn:hover {
    transform: translateY(-5%); }
  .btn--light {
    color: #f68223; }
    .btn--light img {
      width: 2.8rem;
      height: 2.8rem;
      fill: #ffffff; }
  .btn--primary {
    color: #ffffff;
    background-color: #f68223; }
    .btn--primary img {
      width: 2.7rem;
      height: 2rem; }

.wrapper {
  position: relative;
  background-color: #f3f3f3;
  padding: 3.2rem 4rem 5rem 4rem;
  border-radius: 1rem;
  width: calc(100vw - 69rem); }
  @media only screen and (max-width: 62.5em) {
    .wrapper {
      width: calc(100vw - 50rem); } }
  @media only screen and (max-width: 50em) {
    .wrapper {
      width: calc(100vw - 28rem); } }
  @media only screen and (max-width: 40.625em) {
    .wrapper {
      width: calc(100vw - 10rem); } }
  @media only screen and (max-width: 31.25em) {
    .wrapper {
      width: 100vw; } }

.cards {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .cards__card {
    flex: 0 0 36.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 21.3rem;
    padding: 0 0 0 2rem;
    cursor: pointer; }
    @media only screen and (max-width: 71.25em) {
      .cards__card {
        flex: 0 0 100%; } }
    .cards__card:not(:last-child) {
      margin-right: 2.3rem; }
    .cards__card:hover .cards__card__figure span {
      background-color: rgba(246, 130, 35, 0.5); }
    .cards__card__figure {
      min-width: 14.5rem;
      height: 16.2rem;
      position: relative; }
      @media only screen and (max-width: 71.25em) {
        .cards__card__figure {
          display: none; } }
      @media only screen and (max-width: 50em) {
        .cards__card__figure {
          display: block; } }
      @media only screen and (max-width: 25em) {
        .cards__card__figure {
          display: none; } }
      .cards__card__figure span {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0.5rem;
        background-color: transparent;
        transition: all 0.2s; }
    .cards__card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      box-shadow: 1px 1px 0.4rem #30303029; }
    .cards__card__content {
      padding: 2.5rem 2rem; }
    .cards__card__rating {
      list-style: none;
      display: flex;
      margin-bottom: 2rem; }
    .cards__card__span--empty, .cards__card__span--primary {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      display: block;
      margin-right: 0.4rem; }
    .cards__card__span--empty {
      border: 1px solid #343434; }
    .cards__card__span--primary {
      background-color: #f68223; }
    .cards__card__desc {
      display: flex;
      justify-content: space-between;
      color: #343434;
      font-weight: bold;
      font-size: 1rem; }

.arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background-color: #f68223;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s; }
  .arrow img {
    width: 3rem;
    height: 3rem; }
  .arrow:hover {
    background-color: #343434; }
  @media only screen and (max-width: 31.25em) {
    .arrow {
      right: 4rem; } }

.overlay {
  background-color: rgba(246, 130, 35, 0.4);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none; }

.popup {
  padding: 7.2rem;
  background-color: #ffffff;
  display: flex;
  width: 105rem;
  border-radius: 1.5rem;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .popup {
      justify-content: center;
      width: 80%; } }
  .popup__title {
    font-size: 1.8rem;
    color: #f68223;
    font-weight: bold;
    margin-bottom: 1.1rem; }
  .popup__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 2.6rem; }
  .popup__item {
    margin-right: 0.1rem; }
    .popup__item img {
      width: 1.5rem;
      height: 1.5rem; }
  .popup__number {
    font-size: 1.4rem;
    margin-left: 0.7rem;
    font-family: auto; }
  .popup__figure {
    width: 42.4rem;
    height: 42.4rem;
    margin-right: 5.2rem; }
    @media only screen and (max-width: 50em) {
      .popup__figure {
        width: 50%;
        height: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .popup__figure {
        display: none; } }
  .popup__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 1px 1px 1rem #30303029; }
  .popup__desc {
    margin-bottom: 3rem; }
    .popup__desc p:not(:last-child) {
      margin-bottom: 2rem; }
  .popup__cong {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.1rem; }
  .popup__para {
    font-size: 1.4rem; }
  .popup__btn {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    background-color: #f68223;
    padding: 0.75rem 0;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    width: 10.1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 8rem; }
  .popup__span {
    width: 2rem;
    height: 2rem; }
  .popup__icon {
    position: absolute;
    top: 7.2rem;
    right: 7.2rem;
    width: 2.1rem;
    height: 2.1rem;
    cursor: pointer; }
  .popup__heart {
    right: 9.7rem;
    top: 7.4rem; }
  .popup__share {
    height: 2.4rem; }

.visible {
  display: flex;
  justify-content: center;
  align-items: center; }

.collapse {
  display: none;
  padding: 5rem 5rem; }
  @media only screen and (max-width: 50em) {
    .collapse {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media only screen and (max-width: 31.25em) {
    .collapse {
      padding: 5rem 2.5rem; } }

.bur {
  cursor: pointer; }
  .bur span {
    display: block;
    background-color: #f68223;
    width: 1.9rem;
    height: 0.25rem; }
    .bur span:not(:last-child) {
      margin-bottom: 0.45rem; }
  .bur__search {
    width: 1.7rem;
    height: 1.7rem; }
  .bur__nav {
    position: absolute;
    background-color: #343434;
    transform: translateX(-110%);
    width: 80%;
    height: 200vh;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 120;
    transition: all 0.5s; }
  .bur__logo {
    width: 19.5rem;
    height: 11.7rem;
    display: block;
    margin: 5.8rem auto 4.42rem auto; }
  .bur__list {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .bur__item {
    display: flex;
    align-items: center;
    padding: 2rem 3.7rem;
    border-bottom: 1px solid #818080; }
    .bur__item:first-child {
      border-top: 1px solid #818080; }
  .bur__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem; }
    .bur__link img {
      margin-right: 1.2rem; }

.show {
  transform: translateX(0); }
